*.Rproj
*.Rhistory
*.Ruserdata
*.Rproj.user
*cache*
*introgression_files
*.snmfProject
.Rproj.user
*.Renviron
*elai_r.*
*elai/input*
*vcf
*100k_snps*
*10k_snps*
*1k_snps*
test_10_clones/*
elai/snakemake/.snakemake/*
discuss/*
writing/*
tmp/*
phenotyping/*
pca_data/*
reference/*
**/R_data/*
accessions/*
**/*pcaProject
raw_genotype
**/*.snmf*
**/*.RData
**/*.pca
**/*.html
**/*.pdf
**/*.png
**/*.lfmm
**/*.svg
**/*.geno
**/*.tiff
**/*.txt
**/*.fasta
**/*.bed
**/*.snp
**/*.cpp
genotyping/kinship/*